<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/white.css') }}">

<body>
    <a href="/">Home Page</a> <br><br><br>

    <table>
        <tr>
            <td>
                <h1>
                    Name: {{username}} <br><br>
                    Business User: {{buser}} <br><br>
                    Address: {{address}}
                </h1>
            </td>
        </tr>
        <tr>
            <td>
                <h1>Products:</h1> <br><br>
                {{products | safe}}
            </td>
        </tr>
        <tr>
            <td>
                <h1>Order History</h1> <br><br>
                {{oh | safe}}
            </td>
        </tr>
    </table>
</body>

</html>