<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <h2>
        <table style="border: 1px solid black;">
            <tr>
                <th>
                    <a href="{{url_for('home')}}">Home</a>
                </th>
                <th>
                    <a href="{{url_for('search')}}">Search</a>
                </th>
                <th>
                    <a href="{{url_for('sell')}}">Business Dashboard</a>
                </th>
                <th>
                    <a href="{{url_for('account')}}">Account</a>
                </th>
            </tr>
        </table>
    </h2>
    <br>
    <h1>Your Cart</h1>
    <br>
    {{ results|safe }}
</body>
</html>