<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SathuMart</title>
</head>
<body>
    <table style="border: 1px solid black; width: 100%; border-spacing: 0px">
        <tr>
            <th><h1> SathuMart </h1></th>
            <th>Welcome to SathuMart! Your one stop shop for every good on the market!</th>
        </tr>
        <tr>
            <th><a href="/search"> Search </a></th>
            <th><a href="/account"> Account </a></th>
            <th><a href="/status"> Order Status </a></th>
            <th><a href="/sell"> Business Dashboard </a></th>
        </tr>
    </table>
</body>
</html>