<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SathuMart</title>
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/white.css') }}">

<body>
    <table style="width: 100%; border-spacing: 0px">
        <tr>
            <th>
                <h1> SathuMart </h1>
            </th>
            <th>Welcome to SathuMart! Your one stop shop for every good on the market!</th>
            <th></th>
            <th><a href='/signout'><button>Sign Out</button></a></th>
        </tr>
        <tr>
            <th><a href="/search"> Search </a></th>
            <th><a href="/account"> Account </a></th>
            <th><a href="/sell"> Business Dashboard </a></th>
        </tr>
        <tr>
            <td>
                <br>
                <h2>
                <ul>
                    <li><a href="./category/books">Books</a></li>
                    <li><a href="./category/electronics">Electronics</a></li>
                    <li><a href="./category/fashion">Fashion</a></li>
                    <li><a href="./category/groceries">Groceries</a></li>
                    <li><a href="./category/sports">Sports</a></li>
                </ul>
            </h2>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <h2>
                <img src="{{url_for('static',filename= 'images/'+ products.iloc[0]['id'] +'.jpg')}}" alt="Sorry, this image doesn't exist"><br><br>
                <a href="./product/{{products.iloc[0]['id']}}"> {{products.iloc[0]['name']}} </a> <br><br>
                ₹<s>{{products.iloc[0]['price']}}</s> <br><br>
                ₹{{products.iloc[0]['discounted price']}}
            </h2>
            </td>
            <td>
                <h2>
                <img src="{{url_for('static',filename= 'images/'+ products.iloc[1]['id'] +'.jpg')}}" alt="Sorry, this image doesn't exist"><br><br>
                <a href="./product/{{products.iloc[1]['id']}}"> {{products.iloc[1]['name']}} </a> <br><br>
                ₹<s>{{products.iloc[1]['price']}}</s> <br><br>
                ₹{{products.iloc[1]['discounted price']}}
            </h2>
            </td>
        </tr>
    </table>
</body>

</html>