<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/order.css') }}">

<body>
    <a href="{{url_for('/')}}">Home Page</a><br><br>

    <table style="width: 100%;">
        <form id="order" method="post">
        <tr>
            <td>
                <h3>Which Credit Card are you Using?</h3>
                
                {% for card in cc %}

                <input type="radio" name="card" id-="card" value= "{{card[0]}}" required>
                <label for="card">{{card[0]}}</label><br>
               

                {%endfor%}
                <br><br>
                <label for="cvv">CVV</label>
                <input type="password" name="cvv" id="cvv" required>
            
            </td>
            <td>
                <img src="{{url_for('static',filename= 'images/'+ orderid +'.jpg')}}" alt="Sorry, this image isn't currently available">
            </td>
            <td>
                <h2>Order Summary:</h2>
                <h4>Name: {{product.name}} <br><br>
                Description: {{product.description}} <br><br>
                Category: {{product.category}} <br><br>
                Seller: {{product.seller}} <br><br><br></h4>

                <h2>₹{{product.discounted_price}}</h2> <br><br>

                <input type="submit" value="Place Order">


            </td>
        </tr>
        <tr>
            <td style="width:500px;word-wrap: break-word;">
                <h3>Address for Delivery:</h3>
                <h4>{{address}}</h4>
            </td>
        </tr>
    </form>
    </table>
    <script>
        var alert_message = "{{alert_message}}"

        if (alert_message) { alert(alert_message) }

    </script>
    
</body>

</html>