<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <form method="post">
        <label for="search">Search our Catalog!</label>
        <input type="text" name="search" id="search">
        <input type="submit" name="submit" id="submit">
    </form>

    <div id="list-container">
        <ul>
            {% for item in matches %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>


</body>
</html>